.markdown {
  border: 1px solid;
  padding: 8px;
  border-radius: 8px;

  [datatype="heading"] {
    color: blue;
  }
  [datatype="strong"] {
    color: red;
  }
  [datatype="emphasis"] {
    color: indigo;
  }

  [datatype="list"] {
    color: green;
  }
  [datatype="table"] {
    color: goldenrod;
  }
}
