.root {
  padding: 8px;
  display: flex;
  height: 300px;
  overflow: hidden;
  > * {
    flex: 1;
    border: 1px solid;
    padding: 8px;
    border-radius: 8px;
    overflow: auto;
    max-height: 100%;
    margin: 16px;
  }
}
